body.root {
  --font-family: Roboto, sans-serif;
  --background: #fff;
  --color: #434455;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.logo-studio {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.header-logo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.contact {
  color: #434455;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus {
  color: #404bbf;
}
.address:hover {
  color: #4d5ae5;
}

.main-title {
  color: #2e2f42;
}
.button-item {
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: #f4f4fd;
  font-family: 'Roboto', sans-serif;
}
.button-item:hover,
.button-item:focus {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.card-list {
  list-style: none;
}
a {
  list-style: none;
  text-decoration: none;
}

.about-advantages {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: var(--slate, #434455);
  letter-spacing: 0.02em;
}

.proposition {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.main-section-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0, 02 em;
  font-family: 'Roboto', sans-serif;
}
.advantages-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.header-list {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.header-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-title {
  background: var(--navyblue, #2e2f42);
}

.button-service {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
}
.button-service:hover,
.button-service:focus {
  background-color: #404bbf;
}
.team-list {
  background: var(--cloud, #f4f4fd);
}
.title {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.name {
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.post {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background: var(--navyblue, #2e2f42);
}
.span-studio-footer {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.logo-link-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.address {
  font-style: normal;
}
.team {
  background-color: #ffffff;
}
